<form class="well form-horizontal offset2 span6">
	<legend>Login form</legend>
	<div class="control-group">
		<label class="control-label" for="username">Username: </label>
		<div class="controls">
			<input id="username" type="text" placeholder="Type your username" />
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Password: </label>
		<div class="controls">
			<input id="password" type="password" placeholder="Enter your password"/>
		</div>
	</div>
	<div class="form-actions">
			<button id="btnLogin" type="button" class="btn btn-primary">Login</button>
			<button id="btnCancel" type="button" class="btn">Cancel</button>
	</div>
</form>
