<div class="pagination pagination-right">
	<ul>
		<li><a href="#" class="page-goto" id="1">Prev</a></li>
<%
	var currentPage = Math.floor(collection.offset / collection.limit) + 1;
	var maxPages = Math.ceil(collection.records / collection.limit);
	
	var startPage = Math.round(currentPage - buttonsShown / 2);
	if(startPage < 1)
		startPage = 1;
	
	if(maxPages < buttonsShown)
		buttonsShown = maxPages;
		
	var endPage = startPage + buttonsShown - 1;
	if(endPage > maxPages) {
		endPage = maxPages;
		startPage = endPage - buttonsShown + 1;
	}
	
	for(var i = startPage; i <= endPage; ++i) {
		var liClass = i != currentPage ? "active" : "disabled";
%>
		<li class="<%=liClass%>">
			<a href="#" class="page-goto" id="<%=i%>"><%=i%></a>
		</li>
<%
	}
%>
		<li><a href="#" class="page-goto" id="4">Next</a></li>
	</ul>
</div>
